name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:

  build:

    runs-on: self-hosted

    steps:
    - name: Pull Docker image
      run: sudo docker pull kush233/draw-backend:latest
    - name: Delete Old docker container
      run: sudo docker rm -f draw-backend-container || true
    - name: Run Docker Container
      run: sudo docker run -d -p 3000:3002 --name draw-backend-container kush233/draw-backend
